:root{
    --fond: "Roboto";
}

.services-page{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.stationCon{
    width: 590px;
}

.stationCon h1{
    font-family: var(--fond);
    font-size: 24px;
    font-weight: 700;
    color: #242731;
    margin-block: 10px 24px;
}

.service {
  display: flex;
  flex-direction: column; 
  gap: 15px;
  
}

.station-row {
  display: flex;
  gap: 10px; 
}

.box {
  width: 50px;
  height: 70px;
  background-color: white;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--fond);
  font-size: 20px;
  font-weight: 700;
  color: #72767C;
}

.booked { background-color: #FF6370; color: white; } 
.current { background-color: #A162F7; color: white; } 

.boxInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-top: 27px;
}

.boxWhite{
    display: flex;
    align-items: center;
    gap: 8px;
}

.boxWhite div{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #72767C;
    border-radius: 100%;
}

.boxWhite p{
    font-family: var(--fond);
    color: #72767C;
}

.boxRed{
    display: flex;
    align-items: center;
    gap: 8px;
}

.boxRed div{
    width: 12px;
    height: 12px;
    background-color: #FF6370;
    border-radius: 100%;
}

.boxRed p{
    font-family: var(--fond);
    color: #72767C;
}

.boxPur{
    display: flex;
    align-items: center;
    gap: 8px;
}

.boxPur div{
    width: 12px;
    height: 12px;
    background-color: #A162F7;
    border-radius: 100%;
}

.boxPur p{
    font-family: var(--fond);
    color: #72767C;
}

.yourOrder {
  width: 590px;
  border-radius: 14px;
  margin-top: 35px;
}

.yourOrderDes{
    display: flex;
    gap: 20px;
}

.orderMain {
    width: 216px;
    height: 268px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.orderMain h3 {
    font-family: var(--fond);
    font-size: 24px;
    font-weight: 700;
    color: #242731;
    padding-block: 30px 24px;
}

.orderCircleCon {
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderCircle {
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: #f6f6f6;

    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    z-index: 2;
}

.orderCircle p { color: #72767C; font-size: 14px; font-weight: 700; font-family: var(--fond); max-width: 60px; }
.orderCircle strong { color: #A162F7; font-size: 24px; font-weight: 700; font-family: var(--fond); }

.circleDecoration {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #70CF97;
  border-top-color: #70CF97; 
  border-right-color: #A162F7; 
  border-left-color: #FF6370; 
}

/* Ro'yxat qismi */
.orderList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.orderItem {
    height: 76px;
    display: flex;
    align-items: center;
    background: #FFF;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.dot { width: 10px; height: 10px; border-radius: 50%; margin-right: 12px; }
.dot.green { background: #70CF97; }
.dot.red { background: #FF6370; }
.dot.purple { background: #A162F7; }

.orderItem p { flex: 1; color: #242730; font-size: 20px; font-weight: 700; font-family: var(--fond); }

.priceTag {
     background: #A162F71A; 
     width: 60px; 
     height: 30px; 
     border-radius: 5px; 
     color: #A162F7; 
     font-family: var(--fond); 
     font-size: 20px; 
     font-weight: 700;

     display: flex;
     align-items: center;
     justify-content: center;
    
    }

.payBtn {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  background: #A162F7;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.payBtn:hover { background: #8e44ad; }

.serviceRequired h3{
    font-family: var(--fond);
    font-size: 24px;
    font-weight: 700;
    color: #242731;
    padding-block: 10px 20px;
}

.requiredList{
    width: 450px;
    height: 320px;
    padding: 24px;
    border-radius: 14px;
    background-color: #fff;
}

.list1{
    display: flex;
    gap: 16px;
}

.list1Icon{
    width: 48px;
    height: 48px;
    background-color: #70CF971A;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list2Icon{
    width: 48px;
    height: 48px;
    background-color: #A162F71A;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list3Icon{
    width: 48px;
    height: 48px;
    background-color: #FF7E861A;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list1Title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list1Title h5{
    font-family: var(--fond);
    font-size: 20px;
    font-weight: 700;
    color: #5F6165; 
}

.list1Info{
    display: flex;
}

.list1Info span{
    width: 98px;
    height: 16px;
    border-right: 2px solid #ECECEC;
    font-family: var(--fond);
    font-weight: 700;
    color: #242731;
}

.list1Info p{
    font-family: var(--fond);
    font-weight: 500;
    color: #5F6165;
    margin-left: 18px;
}

.greenLine{
    width: 3px;
    height: 40px;
    border-radius: 4px;
    background-color: #70CF97;
    margin-left: 23px;
    margin-block: 12px;
}

.purLine{
    width: 3px;
    height: 40px;
    border-radius: 4px;
    background-color: #A162F7;
    margin-left: 23px;
    margin-block: 12px;
}



.serviceSchedule h3{
    font-family: var(--fond);
    font-size: 24px;
    font-weight: 700;
    color: #242731;
    padding-block: 30px 4px;
}

.scheduleList{
    display: flex;
    gap: 18px;
    margin-top: 24px;
}

.schedulePin{
    width: 16px;
    height: 16px;
    background-color: #A162F7;
    border-radius: 100%;
    margin-top: 14px;
}

.scheduleTitle{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scheduleTitle h5{
    font-family: var(--fond);
    font-size: 18px;
    font-weight: 500;
    color: #242731;
    max-width: 190px;
}

.scheduleInfo{
    display: flex;
    gap: 40px;
}

.scheduleInfo p{
    font-family: var(--fond);
    font-size: 15px;
    font-weight: 500;
    color: #72767C;
}