:root{
    --fond: "Roboto";
}

.sellCars h1{
    font-family: var(--fond);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.sellCarsMain{
    display: flex;
    justify-content: space-between;
}

.sellCarsCar{
    width: 740px;
    height: 420px;
    background-color: #fff;
    background-image: url("/src/assets/Frame.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 16px;

    display: flex;
    justify-content: center;
}

.sellCarsCar:hover{
    cursor: grab;
}

.sellCarsCar:active{
    cursor: grab;
}

.sellCarsCar img{
    margin-top: -30px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
}

.sellCarsCarInfo{
    width: 100%;
}

.sellCarsCarInfo h1{
    font-size: 30px;
    font-weight: 700;
    margin-top: 27px;
    margin-left: 43px;
}

.sellCarsDio{
    width: 410px;
    height: 420px;
    background-color: #fff;
    border-radius: 16px;
    padding-inline: 10px;
    margin-right: 50px;
}

.sellCarsDio h2{
    font-family: var(--fond);
    font-size: 24px;
    font-weight: 700;
    margin: 25px;
}

.offersTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
}

.offersTop h2{
    font-family: var(--fond);
    font-size: 30px;
    font-weight: 700;
}

.carSelectCon{
    display: flex;
    gap: 8px;
    margin-right: 50px;
}

.carSelect{
    appearance: none;       
    -webkit-appearance: none;
    -moz-appearance: none;

    text-align: center;
    
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 16px;
    background: #fff;
    box-shadow: 1px 1px 1px #c1c1c1;

    font-size: 16px;
    font-weight: 500;
    color: #A162F7;
}

.marketing{
    display: flex;
    align-items: center;
    width: 96%;
    height: 170px;
    background-color: #fff;
    border-radius: 16px;
}

.excellent{
    position: relative;
    width: 100px;
    height: 100px;
}

.excellent::after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 40px solid #fff;
}

.excellent span {
    height: 40px;
  position: absolute;
  bottom: -20px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 700;
  color: #00c851;
  z-index: 15;
}

.excellent p {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
}




.desDio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagramWrap {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
}

.circle.big {
  width: 100px;
  height: 100px;
}

.circle.middle {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
 
}

.circle.small {
  width: 60px;
  height: 60px;
  top: 20px;
  left: 20px;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centerText h3 {
  margin: 0;
  font-size: 14px;
  color: #00c851;
}

.centerText p {
  margin: 0;
  font-size: 11px;
  color: #777;
}

.circle.small .CircularProgressbar-text {
  font-family: var(--fond);
  font-size: 26px;
  font-weight: 700;
  fill: #242731;
}