:root{
    --fond: "Roboto";
}

.sellCars h1{
    font-family: var(--fond);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.sellCarsMain{
    display: flex;
    gap: 40px;
}

.sellCarsCar{
    width: 720px;
    height: 420px;
    background-color: #fff;
    background-image: url("/src/assets/Frame.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 16px;

    display: flex;
    justify-content: center;
}

.sellCarsCar:hover{
    cursor: grab;
}

.sellCarsCar:active{
    cursor: grab;
}

.sellCarsCar img{
    margin-top: -30px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
}

.sellCarsCarInfo{
    width: 100%;
}

.sellCarsCarInfo h1{
    font-size: 30px;
    font-weight: 700;
    margin-top: 27px;
    margin-left: 43px;
}

.sellCarsDio{
    width: 400px;
    height: 420px;
    background-color: #fff;
    border-radius: 16px;
    padding-inline: 1   0px;
}

.sellCarsDio h2{
    font-family: var(--fond);
    font-size: 24px;
    font-weight: 700;
    margin: 25px;
}